<%= form_with(model: bookmark, remote: true, data: {confirm: '¿Estas Seguro?'}) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :category, placeholder: 'Categoria' %>

    <%= form.text_field :url, placeholder: 'Link' %> 

    <%= form.submit 'Guardar', data: { disabled_with: 'Guardando...' } %>
<% end %>
