<%= form_with(model: bookmark, remote: true, data: {confirm: '¿Estas Seguro?'}) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%#= form.text_field :category, class:"input-group my-3", placeholder: 'Nombre' %>

    <%= form.text_field :url, class:"input-group my-3", placeholder: 'Link' %> 
  <div class="field">
    <%= form.select :status, Bookmark.statuses.keys %> 
  </div>
  
    <%= form.submit 'Guardar', class: "btn btn-info mb-5 btn-block", data: { disabled_with: 'Guardando...' } %>
<% end %>
