<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @type.theme %>
</p>

<p>
  <strong>Link:</strong>
  <%= @type.link %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to  "Marcadores", bookmarks_path %>
